html {
    margin: 15px;
}

body {
    margin: 0;
    width: 90%;
    margin: 3%;
    padding: 2%;

    font-family: Georgia,serif;

    font-feature-settings: 'kern';
    font-kerning: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;

    box-shadow: 5px 5px 20px 3px rgb(155, 153, 145);
}

#categories {
    display: flex;
    flex-wrap: wrap;
}

.category {
    border: 1px solid black; 
    padding: 5px;
    width: 20vw;
    min-width: 200px;
}

p {
    line-height: 1.45;
    font-size: 18px;
}


/* Articles */

.paragraphs {
    max-width: 820px;
    margin-left: 4vw;
}

.paragraphs h4 {
    margin: 3em -1vw 0;
}

#content h3 {
    margin-left: 2vw;
}

#content h3::after {
    content: "";
    display: block;
    width: 100%;
    max-width: 500px;
    height: 2px;
    background-color: black;
}

p.quote {
    font-style: italic;
    width: 80%;
    margin: auto;
    line-height: 1.3;
    font-size: 14px;
}

img {
    max-width: 100%;
}

.imagebox.inline {
    clear: both;
    float: right;
    max-width: 500px;
    padding: 4px;
    margin: 5px;
    border: 1px grey solid;
    background-color: rgb(247, 247, 247);
    max-width: 370px; /* smaller but matches the citybox panel so looks better? */
}

.imagebox p {
    margin-top: 0;
    font-style: italic;
}

.imagebox.inline img {
    margin: auto;
    display: block;
}

.imagebox.inline p {
    margin-bottom: 0;
}

.flex-list {
    display: flex;
    flex-wrap: wrap;
}

.external-link::after {
    /*<a target="_blank" href="https://icons8.com/icon/60664/external-link">External Link</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*/
    content: "";
    background-image: url(./images/external-link.svg);
    height: 1em;
    width: 1em;
    display: inline-block;
    background-size: cover;
}


/* city infoboxes */

.city-infobox {
    max-width: 350px;
    background-color: rgb(247, 247, 247);
    padding: 10px;
    margin: 0 10px;
    border: 1px solid rgb(190, 190, 190);
    clear: right;
    float: right;
}

.city-infobox h2 {
    text-align: center;
    margin: 0;
}

.spacer {
    height: 1em;
    display: inline-block;
}

.city-infobox-flag {
    margin: auto;
    max-width: 200px;
    display: block;
}

.city-infobox p {
    line-height: 1;
    font-size: 12px;
    margin: 8px 2px;
}

.city-infobox i {
    display: block;
    text-align: center;
}

.city-flag {
    flex-wrap: nowrap;
    display: inline-flex;
}

.city-flag-colour {
    display: block;
    height: 1em;
    width: 1em;
}


/* metaboxes */

.metabox {
    border: 4px dashed grey;
    background-color: rgba(206, 231, 63, 0.2);
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0 15px 30px;
    position: relative;
    max-width: 500px;
    float: right;
}

.metabox h3 {
    font-size: 30px;
    margin: 0;
    font-style: italic;
    position: absolute;
    top: -20px;
}

.metabox p {
    margin: 10px 0px;
}

.meta-bubble {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid black;
    display: inline-block;
    background-color: black;
    margin-right: 5px;
}

.meta-bubble-good {
    background-color: green;
}

.meta-bubble-ok {
    background-color: yellow;
}

.meta-bubble-bad {
    background-color: red;
}

.inline-meta {
    padding: 2px;
    background-color: rgba(206, 231, 63, 0.2);
    font-style: italic;
    border: 2px dashed grey;
}


/* solar system specific */


#solar-system {
    background-color: black;
    color: white;
}

#solar-system a {
    color: orange;
}

#solar-system a:visited {
    color: darkred;
}

#solar-system #content {
    display: flex;
    flex-wrap: wrap;
}

#solar-system #content div {
    max-width: 500px;
}

#solar-system-canvas {
    width: 100%;
    height: 100%;
    max-width: 85vh;
}

/* Timeline specific */

#timeline {
    position: relative;
    margin: 1.5em 0px 1.5em 90px;
    padding: 30px 0;
}

#timeline-line {
    height: 100%;
    width: 2px;
    display: block;
    position: absolute;
    top: 0;
    background-color: black;
}

#timeline-line::before {
    content: "⥉";
    font-size: 24px;
    display: block;
    position: absolute;
    height: 0;
    top: -17px;
    left: -4.8px;
}

#timeline-line::after {
    content: "⥉";
    transform: rotate(180deg);
    font-size: 24px;
    display: block;
    position: absolute;
    height: 0;
    bottom: -17px;
    left: -4.8px;
}

.timeline-events {
    display: block;
    position: relative;
}

.timeline-events-period {
    height: 100%;
    position: absolute;
    width: 40px;
    left: -60px;
    display: block;
    border-top: 3px;
    border-bottom: 3px;
    border-left: 5px;
    border-right: 0px;
    border-style: solid;
}

#timeline .timeline-events-period h3 {
    position: relative;
    right: 50px;
    top: 100%;
    margin: 0;
    width: max-content;
    transform-origin: 0 0;
    transform: rotate(-90deg);
}

.timeline-event {
    position: relative;
    display: block;
    background-color: lightsalmon;
    width: calc(100% - 50px);
    max-width: 400px;
    margin-left: 25px;
    padding: 1px 0px 1px 20px;
    min-height: 40px;
}

.timeline-event::before {
    content: "";
    display: block;
    width: 0; 
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 20px solid transparent;     
    border-right: 20px solid lightsalmon; 
    position: absolute;
    left: -20px;
    top: 0px;
}

.timeline-event h4 {
    margin: 5px 0;
    font-size: 1.1em;
}

.timeline-event p {
    margin-top: 0;
}

.timeline-time {
    position: absolute;
    top: 0;
    margin-top: 0;
    left: -90px;
    text-align: right;
    width: 60px;
}

.timeline-time-condensor {
    display: block;
    width: 15px;
    height: 5px;
    background-color: white;
    border-top: 3px;
    border-bottom: 3px;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: black;
    position: relative;
    top: 50%;
    left: -6px;
    transform: rotate(-30deg);
}