#blocker {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: repeating-linear-gradient(
        45deg,
        #7e7b7a80,
        #7e7b7a80 5px,
        #66626080 5px,
        #66626080 10px
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

#loader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    color: white;
    text-align: center;
}

#cursor {
    position: absolute;
    width: 16px;
    display: none;
    pointer-events: none;
}

body {
    overflow: hidden;
}

.selectBox {
    border: 1px solid #55aaff;
    background-color: rgba(75, 160, 255, 0.3);
    position: fixed;
}

.group-selection-icon {
    width: 32px;
    border: solid 2px black;
}

#ui {
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;
    display: grid;
    grid-template-rows: 1fr 20fr 8fr;
    grid-template-columns: 2fr 10fr 2fr;
    grid-template-areas:
    "left-column top-bar right-column"
    "left-column game right-column"
    "bottom-bar bottom-bar bottom-bar";
}

#ui-top-bar {
    grid-column: 2/2;
    display: flex;
    justify-content: center;
}

#ui-left-column {
    grid-column: 1/1;
    grid-row: 1/3;
    min-width: 200px;
}

#ui-right-column {
    grid-column: 3/3;
    grid-row: 1/3;
    min-width: 200px;
}

#ui-bottom-bar {
    display: flex;
    grid-row: 3/3;
    grid-column: 1/4;
    height: 30vh;
    position: relative;
}

#selected-box {
    width: 250px;
    background: none;
    position: relative;
}

#selected-box-background {
    background: #c5c1bc;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -0.25em;
    top: -0.25em;
}

#selected-box-image {
    position: absolute;
    top: calc(-80px + -0.25em);
    left: -0.25em;
    width: 100px;
}

#selected-box-details {
    line-height: 1;
    position: relative;
}

#selected-box-title {
    position: relative;
}

#build-options-box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    height: 14vh;
    margin-top: 12vh;
}

#build-options-box button {
    height: 50px;
    width: 50px;
    position: relative;
}
#build-options-box button p {
    font-size: 8px;
    position: absolute;
    bottom: 0;
}
.build-option-button-image {
    width: 100%;
}

.ui-container>* {
    pointer-events: initial;
}

.ui-box {
    background: #c5c1bc;
    min-width: 200px;
    padding: 0.5em;
    margin: 0.5em;
}

.resource {
    display: flex;
    height: 32px;
    align-items: center;
}

.resource img {
    width: 32px;
    height: 32px;
}

h3 {
    margin: 0;
}

.pollution-meter {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.pollution-meter p {
    margin: 0;
    font-style: italic;
    font-size: 0.6em;
    background: rgb(250,250,250);
    background: linear-gradient(90deg, rgba(250, 250, 250, 0.5) 0%, rgba(250, 250, 250, 0.5) 30%, rgba(255, 255, 255, 0) 50%);
}

.pollution-meter > div {
    background-color: grey;
    width: 100%;
    height: 10px;
    display: block;
    border: 1px solid rgba(140, 140, 140);
}

.pollution-meter-inside {
    height: 100%;
    background-color: white;
    transition: width 2s;
}

#land-pollution-meter-inside {
    background-color: #2F2F27;
}

#air-pollution-meter-inside {
    background-color: #4A3C2B;
}

#water-pollution-meter-inside {
    background-color: #512F03;
}