html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.hidden {
    display: none !important;
}

#blocker {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

#loader {
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #ffffff;
    text-align: center;
    font-family: Arial;			
}

#loader p {
    margin: 0;
    color: rgba(255,255,255,0.3);
}

#instructions {
    width: 100vw;
    height: 100vh;
    position: absolute;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;

    cursor: pointer;
}

#ui {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#ui > * {
    pointer-events: all;
}

#stage {
    user-select: none; /* otherwise click-dragging on the canvas keeps selecting this text. Annoying! */
    pointer-events: none;
    margin: 0;
    width: fit-content;
    display: inline-block;
    padding: 2px;
    background-color: #ffffffbd;
    border-radius: 15px;
    font-size: 15px;
}

#stats {
    cursor: pointer;
    opacity: 0.9;
    z-index: 100;
}

#group-island-size {
    width: fit-content;
    display: inline-block;
    padding: 2px 10px;
    background-color: #ffffffbd;
    border-radius: 15px;
}
#group-island-size > * {
    cursor: pointer;
    margin: 0;
}



canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
}




#inventory-container {
    position: absolute;
    bottom: 50px;
    width: 90%;
    left: 5%;
}

#inventory-slots {
    row-gap: 10px;
    display: flex;
    width: 100%;
    column-gap: 10px;
    flex-flow: wrap;
    justify-content: center;
}

.inventory-slot {
    display: block;
    width: 8vw;
    height: 8vw;
    max-width: 60px;
    max-height: 60px;
    min-width: 40px;
    min-height: 40px;
    background-color: rgba(165, 149, 138, 0.336);
    border: 3px inset rgb(165, 149, 138);
}

.inventory-item {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 90%;
    height: 90%;
    margin: 5%;
    image-rendering: pixelated;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
}