html {
    font-family: 'Goudy Bookletter 1911', serif;
    background-color: #3C3E30;
}

h1, h2 {
    font-family: 'Cherry Swash', serif;
    font-weight: 400;
}

h3 {
    font-family: 'Cherry Swash', serif;
    font-weight: 400;
}

.page {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
    background-color: #FFFDFC;
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 300px;
    margin: 15px;
}

.page#landing {
    background-image: url("./../images/illustrations/handshake.png");
}
.page#wizard-child-background {
    background-image: url("./../images/illustrations/scout.png");
}
.page#wizard-adult-background {
    background-image: url("./../images/illustrations/soldier.png");
}
.page#wizard-stats {
    background-image: url("./../images/illustrations/lifeguard.png");
}
.page#wizard-traits {
    background-image: url("./../images/illustrations/politician.png");
}
.page#wizard-identity {
    background-image: url("./../images/illustrations/gangster.png");
}

.page-title {
    text-align: center;
    width: 100%;
    font-size: 7vw;
    margin: 0;
    font-style: italic;
}

.page-title::before {
    content: "⤛ ";
}

.page-title::after {
    content: " ⤜";
}

.page-subtitle {
    text-align: center;
    color: #E76953;
    font-size: 1.2em;
    line-height: 20px;
}

.page-subtitle p {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-subtitle::after {
    content: "";
    display: block;
    height: 6px;
    background: black;
    width: 100%;
}

.page-content {
    width: 90%;
    margin: 0 auto;
}

#wizard-adult-background .page-content {
    margin-bottom: 200px;
}

.skill h3 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: 700;
}

h2.stat-result-number {
    font-size: 0.9em;
}

h2.stat-result-number span {
    font-weight: 800;
}

#sheet button {
    width: 20%;
    height: 2em;
    margin-bottom: 10px;
}

#landing .page-content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}



#adulthood-backgrounds-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#adulthood-backgrounds-filter-tags {
    display: flex;
    flex-wrap: wrap;
}

li.adulthood-backgrounds-filter-tag {
    background-color: #DBDFE2;
    list-style: none;
    cursor: pointer;
    padding: 3px 10px;
    margin: 2px;
}

li.adulthood-backgrounds-filter-tag:hover {
    background-color: #f1b8ad;
}

li.adulthood-backgrounds-filter-tag.active {
    background-color: #E76953;
}


.background {
    background-color: #DBDFE2;
    box-shadow: 1px 1px 7px rgb(0 0 0 / 30%);
}

.background:hover {
    background-color: #f1b8ad;
}

.background.active {
    background-color: #E76953;
}

.background.active:hover {
    background-color: #E76953;
}

.background h3 {
    text-align: center;
    text-decoration: underline;
}

.background h3::before {
    content: "⤛ ";
}

.background h3::after {
    content: " ⤜";
}


.navigation-item {
    background-color: beige;
    border: 2px outset #bbbbbb;
    box-sizing: border-box;
    position: relative;
}

.navigation-item::after {
    position: absolute;
    content: "➧";
    right: 0;
}

.navigation-item.disabled {
    background-color: gainsboro;
    color: silver;
}

.navigation-item:hover {
    background-color: burlywood;
}

.navigation-item.disabled:hover {
    background-color: gainsboro;
}






.trait {
    background-color: #DBDFE2;
    box-shadow: 1px 1px 7px rgb(0 0 0 / 30%);
}

.trait.trait-positive {
    background-color: rgba(144, 238, 144, 0.2);
}

.trait.trait-negative {
    background-color: rgba(240, 128, 128, 0.2);
}

.trait.active {
    border: none;
    /* outline: 5px dashed #E76953; */

    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23E76953' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='1' stroke-linecap='square'/%3e%3c/svg%3e"); */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3e%3cstyle type='text/css'%3e %23c %7banimation: x 3s linear reverse infinite;%7d %40keyframes x %7b from %7b stroke-dashoffset: 1;%7d to %7b stroke-dashoffset: 100%7d %7d %3c/style%3e%3crect id='c' width='100%25' height='100%25' fill='none' stroke='%23E76953' stroke-width='8' stroke-dasharray='6, 14' stroke-dashoffset='1' stroke-linecap='square'/%3e%3c/svg%3e");
}

.trait.disabled {
    background-color: darkgray;
    color: gray;
}

#traits-selected, #traits-points {
    font-size: 2em;
    font-weight: 600;
}


#identity-backstory {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 18px;
}



#resultsheet-backstory {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 0.7em;
}

#resultsheet .trait {
    margin-left: 10px;
}

.popup {
    background-color: white;
    outline: 2px solid #E76953;
}



.navigation-item {
    height: 7vh;
    cursor: pointer;
    background-color: #f1b8ad;
}

.navigation-item.disabled {
    background-color: gainsboro;
    color: silver;
}

.navigation-item:hover {
    background-color: #E76953;
}

.navigation-item.disabled:hover {
    background-color: gainsboro;
}
