@media print {
    #navigator {
        display: none;
    }
    #sheet > *:not(#resultsheet) {
        display: none;
    }
    #skills-popup {
        display: none;
    }
    .page {
        box-shadow: none !important;
    }
}

html {
    overflow-x: hidden; /*hack*/
}

body {
    margin: 0;
}

.hidden {
    display: none !important;
}

#loader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    z-index: 10;
}

#pages {
    /*this is to deal with the fixed bottom bar...*/
    margin-bottom: 7vh;
    display: flex;
    justify-content: center;
}

.page {
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

#sheet {
    max-width: unset; /* The resultsheets page should be allowed to fill the entire screen */
}

.backgrounds {
    display: flex;
    flex-wrap: wrap;
}

.background {
    background-color: lavender;
    margin: 0.5%;
    padding: 1%;
    min-width: 10em;
    width: 47%;
    cursor: pointer;
}

.background:hover {
    background-color: lightcyan;
}

.background.active {
    background-color: lightskyblue;
}

.background.active:hover {
    background-color: lightskyblue;
}

.background li {
    width: fit-content;
}

button.next-page {
    margin: 1em;
    height: 5em;
    margin-left: auto;
    width: 25%;
}

#landing button {
    margin: 1em auto;
    height: 5em;
    width: 25%;
}

#landing label, #landing input {
    margin: 1em auto;
    width: 25%;
}

#navigator {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 7vh;
}

#navigator ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
}

.navigation-item {
    height: 7vh;
    cursor: pointer;
    background-color: beige;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.navigation-item.disabled {
    background-color: gainsboro;
    color: silver;
    cursor: default;
}

.navigation-item:hover {
    background-color: burlywood;
}

.navigation-item.disabled:hover {
    background-color: gainsboro;
}

.stat {
    display: flex;
    width: 80vw;
    max-width: 600px;
    justify-content: space-evenly;
    margin: 3em auto;
}

.stat-info {
    width: 20vw;
}

.stat-info > * {
    margin: 0;
}

.stat-info h3 {
    font-size: 1.5em;
}

.stat-info .description {
    font-style: italic;
}

.stat-control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numberbox {
    display: flex;
}

.numberbox button {
    font-size: 2em;
}

input.numberbox-number {
    border: none;
    text-align: center;
    font-size: 3em;
    width: 3ch;
    padding: 0;
}

input[type='number'].numberbox-number::-webkit-inner-spin-button, 
input[type='number'].numberbox-number::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

.stat-control-level {
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

.stat-effect p {
    margin: 0;
    font-size: 0.8em;
    font-style: italic;
}

#stats-remaining-points {
    font-size: 1.2em;
    margin-left: auto;
    margin-right: 0.7em;
}

#traits-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

#traits-container > div {
    display: flex;
    flex-direction: column;
}

.trait {
    background-color: lightblue;
    margin: 1em 0;
    padding: 1%;
    min-width: 10em;
    cursor: pointer;
    height: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.trait.trait-positive {
    background-color: lightgreen;
}

.trait.trait-negative {
    background-color: lightcoral;
}

.trait > * {
    margin: 0;
}

.trait p.conditions {
    font-size: 0.8em;
    font-style: italic;
}

.trait.disabled {
    background-color: darkgray;
    color: gray;
    cursor: default
}

.trait.active {
    border: thick dashed yellow;
}

#identity-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

#identity-container > * {
    min-width: 300px;
    max-width: 500px;
}

#identity-image {
    display: flex;
    flex-direction: column;
}

.image-button {
    background-color: bisque;
    cursor: pointer;
    margin: 0.2em;
    padding: 1em;
}

.image-button:hover {
    background-color: lightsalmon;
}

#identity-backstory-warning {
    color: orangered;
    margin-bottom: 0;
    border-bottom: 2px solid orangered;
}

#identity-backstory {
    resize: none;
    width: 100%;
    height: auto;
}

#portrait-list-container {
    display: flex;
    flex-wrap: wrap;
}

#portrait-list-container img {
    min-width: 70px;
    max-width: 125px;
    cursor: pointer;
}

#portrait-list-container img:hover {
    filter: brightness(1.5);
}

#identity-description-prompts-container {
    font-size: 0.9em;
    margin-bottom: 20px;
}

#identity-description-prompts-container > * {
    margin: 0;
}

#resultsheet-top {
    display: flex;
    width: calc(100vw - 40px); /*Accounts for page margin*/
}

#resultsheet-image {
    width: 20vw;
    margin: 20px;
    margin-bottom: 10px;
    max-width: 250px;
}

#resultsheet-name {
    margin-bottom: 0;
    margin-top: 0;
}

.stat-result {
    width: auto;
    border: 3px double #0000000f;
    padding: 6px;
    margin: 3px;
}

.stat-result > * {
    margin: 0;
}

#resultsheet-top-right {
    margin-left: 20px;
    flex: 1;
}

#resultsheet-top-right p {
    margin: 0;
    margin-top: 5px;
    font-size: 0.8em;
}

#resultsheet-backstory {
    resize: none;
    border: none;
    width: 100%;
    height: calc(100% - 0.8em - 20px); /*this is just guesswork lol*/
    border: 1px solid #0000000f;
}

#resultsheet-bottom {
    display: flex;
    gap: 1vw;
    width: calc(100vw - 20px); /*Accounts for page margin*/
}

#resultsheet-traits {    
    width: 29vw;
}

#resultsheet-traits .trait {
    width: auto;
    height: 12%;
    font-size: 0.8em;
    cursor: auto;
}

#resultsheet-traits .trait .conditions {
    display: none;
}

#resultsheet-skills {
    width: 69vw;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    font-size: 0.61em;
}

#resultsheet-padding {
    height: 7vh;
}

.skill {
    margin: 0.05em;
    cursor: pointer;
    padding: 0.2em;
}

.skill:hover {
    background-color: beige;
}

.skill p {
    font-style: italic;    
}

.skill * {
    margin: 0;    
}


.popup {
    width: 30vw;
    display: block;
    background-color: grey;
    position: absolute;
    font-size: 0.8em;
    padding: 1em;
}

.popup * {
    margin: 0;
}

.popup-title {
    display: flex;
    justify-content: space-between;
}

.popup-description {
    margin-top: 0.5em;
    font-size: 1.1em;
    font-style: italic;
}