#inventory-contents {
    font-family: "Alkhemikal", monospace; 
    position: relative;
}

#inventory-contents img {
    width: calc(256px * 4);
    image-rendering: pixelated;
    margin-bottom: 10px;
    z-index: 10;
    position: relative;
    pointer-events: none;
}

#inventory-bins {
    position: absolute;
    top: 0;
}

#inventory-item-title {
    margin: 0;
}

.inv-bin.selected-primary {
    border-color: red;
    z-index: 1;
}

.inv-bin.selected-secondary {
    border-color: darkorange;
    border-style: dotted;
    z-index: 1;
}

#inventory-manager {
    font-size: x-large;
}

#inventory-controls-dump.prepared {
    background-color: red;
}

#inventory-assignment {
    display: flex;
    flex-wrap: wrap;
    font-size: medium;
}

.inv-pas {
    position: absolute;
    cursor: pointer;
    display: block;
    background-color: #BEAA80;
    width: calc(14px * 4);
    height: calc(14px * 4);
    border: calc(1px * 4) solid black;
}

.inv-bin {
    position: absolute;
    cursor: pointer;
    display: block;
    background-color: #FFFFFF;
    width: calc(20px * 4);
    height: calc(11px * 4);
    border: calc(1px * 4) solid black;
}

#inv-ext-pas-0 {
    left: calc(60px * 4);
    top: calc(16px * 4);
}
#inv-ext-pas-1 {
    left: calc(80px * 4);
    top: calc(16px * 4);
}
#inv-ext-pas-2 {
    left: calc(100px * 4);
    top: calc(16px * 4);
}

#inv-tur-pas-0 {
    left: calc(143px * 4);
    top: calc(28px * 4);
}

#inv-int-pas-0 {
    left: calc(143px * 4);
    top: calc(48px * 4);
}
#inv-int-pas-1 {
    left: calc(143px * 4);
    top: calc(68px * 4);
}
#inv-int-pas-2 {
    left: calc(84px * 4);
    top: calc(79px * 4);
}
#inv-int-pas-3 {
    left: calc(102px * 4);
    top: calc(79px * 4);
}

#inv-ext-bin-0 {
    left: calc(60px * 4);
    top: calc(34px * 4);
}
#inv-ext-bin-1 {
    left: calc(83px * 4);
    top: calc(34px * 4);
}
#inv-ext-bin-2 {
    left: calc(191px * 4);
    top: calc(50px * 4);
}
#inv-ext-bin-3 {
    left: calc(214px * 4);
    top: calc(50px * 4);
}

#inv-int-bin-0 {
    left: calc(162px * 4);
    top: calc(50px * 4);
}
#inv-int-bin-1 {
    left: calc(35px * 4);
    top: calc(87px * 4);
}
#inv-int-bin-2 {
    left: calc(56px * 4);
    top: calc(87px * 4);
}
#inv-int-bin-3 {
    left: calc(35px * 4);
    top: calc(99px * 4);
}
#inv-int-bin-4 {
    left: calc(56px * 4);
    top: calc(99px * 4);
}
#inv-int-bin-5 {
    left: calc(120px * 4);
    top: calc(75px * 4);
}
#inv-int-bin-6 {
    left: calc(120px * 4);
    top: calc(87px * 4);
}
#inv-int-bin-7 {
    left: calc(141px * 4);
    top: calc(87px * 4);
}
#inv-int-bin-8 {
    left: calc(99px * 4);
    top: calc(99px * 4);
}
#inv-int-bin-9 {
    left: calc(120px * 4);
    top: calc(99px * 4);
}
#inv-int-bin-10 {
    left: calc(141px * 4);
    top: calc(99px * 4);
}



@media (max-width: 1024px)
{
    /* is it possible to set the *2/*4 with variables instead? */
    #inventory-contents img {
        width: calc(256px * 2);
    }

    .inv-pas {
        width: calc(14px * 2);
        height: calc(14px * 2);
        border: calc(1px * 2) solid black;
    }
    
    .inv-bin {
        background-color: #FFFFFF;
        width: calc(20px * 2);
        height: calc(11px * 2);
        border: calc(1px * 2) solid black;
    }

    #inv-ext-pas-0 {
        left: calc(60px * 2);
        top: calc(16px * 2);
    }
    #inv-ext-pas-1 {
        left: calc(80px * 2);
        top: calc(16px * 2);
    }
    #inv-ext-pas-2 {
        left: calc(100px * 2);
        top: calc(16px * 2);
    }
    
    #inv-tur-pas-0 {
        left: calc(143px * 2);
        top: calc(28px * 2);
    }
    
    #inv-int-pas-0 {
        left: calc(143px * 2);
        top: calc(48px * 2);
    }
    #inv-int-pas-1 {
        left: calc(143px * 2);
        top: calc(68px * 2);
    }
    #inv-int-pas-2 {
        left: calc(84px * 2);
        top: calc(79px * 2);
    }
    #inv-int-pas-3 {
        left: calc(102px * 2);
        top: calc(79px * 2);
    }
    
    #inv-ext-bin-0 {
        left: calc(60px * 2);
        top: calc(34px * 2);
    }
    #inv-ext-bin-1 {
        left: calc(83px * 2);
        top: calc(34px * 2);
    }
    #inv-ext-bin-2 {
        left: calc(191px * 2);
        top: calc(50px * 2);
    }
    #inv-ext-bin-3 {
        left: calc(214px * 2);
        top: calc(50px * 2);
    }
    
    #inv-int-bin-0 {
        left: calc(162px * 2);
        top: calc(50px * 2);
    }
    #inv-int-bin-1 {
        left: calc(35px * 2);
        top: calc(87px * 2);
    }
    #inv-int-bin-2 {
        left: calc(56px * 2);
        top: calc(87px * 2);
    }
    #inv-int-bin-3 {
        left: calc(35px * 2);
        top: calc(99px * 2);
    }
    #inv-int-bin-4 {
        left: calc(56px * 2);
        top: calc(99px * 2);
    }
    #inv-int-bin-5 {
        left: calc(120px * 2);
        top: calc(75px * 2);
    }
    #inv-int-bin-6 {
        left: calc(120px * 2);
        top: calc(87px * 2);
    }
    #inv-int-bin-7 {
        left: calc(141px * 2);
        top: calc(87px * 2);
    }
    #inv-int-bin-8 {
        left: calc(99px * 2);
        top: calc(99px * 2);
    }
    #inv-int-bin-9 {
        left: calc(120px * 2);
        top: calc(99px * 2);
    }
    #inv-int-bin-10 {
        left: calc(141px * 2);
        top: calc(99px * 2);
    }
}