@font-face {
    font-family: 'Alkhemikal';
    src: url('./Alkhemikal.ttf');
}

body {
    overflow: hidden;
}

#loader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    color: white;
    text-align: center;
    z-index: 100;
}

#loader-start {
    font-family: "Alkhemikal", monospace; 
    font-size: 4em;
    background-color: black;
    padding: 30px;
}

#loader.fade {
    visibility: hidden;
    opacity: 0;
    transition: visibility 5s, opacity 5s linear;
}

#loader-start:hover {
    background-color: rgb(82, 80, 77);
}

#game-canvas {
    background: linear-gradient(#262629, #575758, #8d5b5b, #ffffff, #ffffff);
}

#ui-options {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: #eeeeee;
    box-shadow: 3px 2px 3px #222222;
    padding: 5px;
    border-radius: 0 0 0 14px;
}

#options-button {
    border: none;
    background-color: transparent;
    background-image: url("../images/hamburger.png");
    image-rendering: pixelated;
    background-size: cover;
    font-size: 0;
    width: 20px;
    height: 20px;
}

#options-menu {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#options-menu button {
    border: 2px outset #aaaaaa;
    background-color: white;
    margin-top: 2px;
}

#options-menu button:hover {
    border: 2px outset #aaaaaa;
    background-color: #fffdf5;
}




#ui {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#game-title {
    position: absolute;
    margin: 0;
    font-family: "Alkhemikal", monospace;    
    z-index: 1;

    
    /* animation */
    top: 10px;  
    left: 10px;
    font-size: 32px;
}

#game-title.animate {
    animation-duration: 8s;
    animation-delay: 3s;
    animation-name: introTitleAnimation;
}

#ui-bottom-bar {
    display: flex;
    flex-direction: row;
    bottom: 0;
    position: absolute;
    bottom: 0;
    place-items: end;
}

#ui-right-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}

#ui-cable {
    position: absolute;
    top: 0;
    right: 0;
    image-rendering: pixelated;
    width: 40vw;
    max-width: 256px;
}

#ui-character-boxes {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50vw;
    min-width: 500px;
}

#ui-character-boxes img {
    width: 128px;
    height: 128px;
    image-rendering: pixelated;
    background-color: dimgray;
    border-radius: 100%;
    border-color: wheat;
    border-width: 2px;
    border-style: outset;
}

.character-box {
    height: 128px;
    display: flex;
    align-self: flex-end;
}

#ui-bottom-bar-controls {
    margin: 16px;
    max-width: 400px;
    position: relative;
}

.controls-tab {
    position: relative;
    border: none;
    border-style: solid;
    border-width: 4px 2px 0;
    font-family: "Alkhemikal", monospace;
    font-size: 18px;
    height: 40px;
}

.controls-tab:hover {
    top: -8px;
}

#controls-journal {
    background-color: #dd9b39;
    border-color: #a54a15;
}

#controls-map {
    background-color: #cec35e;
    border-color: #978e38;
}

#controls-inventory {
    background-color: #ce5e5e;
    border-color: #973848;
}

#controls-orders {
    background-color: #DBD9CE;
    border: 8px solid #C1BDA8;
    border-image: url("../images/uiBg2.png") 32 / 32px / 16px round;
    position: relative;
    z-index: 1;
}

#controls-orders h2 {
    margin: 0 0 10px 0;
    font-family: "Alkhemikal", monospace;
    font-size: 24px;
}

#controls-buttons {
    display: flex;
    flex-flow: wrap;
}

#controls-buttons button {
    margin: 0 2px;
    padding: 5px;
    font-family: "Press Start 2P", monospace;
    font-size: 8px;
    background-color: #C9AF98;
    border: 1px dashed #443C15;
    height: 50px;
    width: 50px;
}

#controls-buttons button:hover {
    background-color: #e2cdbb;
}

#ui-bottom-bar-stats {
    background-color: #817D7B;
    border: 16px solid #5B524E;
    margin: 16px;
    border-image: url("../images/uiBg.png") 32 / 32px / 16px round;
    position: relative;
}

.gauge {
    width: 100px;
    height: 50px;
    position: relative;
    background-image: url("../images/gagueBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: wheat;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 5px solid #0F0202;
    border-bottom: 2px solid #0F0202;
    box-sizing: border-box;
}

.gauge.off {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url("../images/gagueBg.png");
    background-blend-mode: luminosity;
}

.gauge-needle {
    background: #A51717;
    bottom: 0;
    content: '';
    height: 2px;
    position: absolute;
    /* transform: translateX(5px) rotate(64deg); */
    transform-origin: 100% 50%;
    width: 40px;
    z-index: 5;
}

.gauge.off .gauge-needle {
    background: #5a1616;
}

.gauge-pivot {
    background: #0F0202;
    border-radius: 100%;
    content: '';
    height: 20%;
    width: 10%;
    left: 45%;
    top: 90%;
    position: absolute;
    z-index: 6;
}

.gauge-min {
    position: absolute;
    left: 10%;
    bottom: 0;
    margin: 0;
    color: rgb(160, 0, 0);
    font-weight: bold;
}

.gauge-max {
    position: absolute;
    right: 10%;
    bottom: 0;
    margin: 0;
    font-weight: bold;
}




.splash {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.splash-inner {
    background-color: #DBD9CE;
    border: 8px solid #C1BDA8;
    margin: auto;
    margin-top: 10vh;
    border-image: url("../images/uiBg2.png") 32 / 32px / 16px round;
    min-width: 200px;
    width: fit-content;
}

.splash-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.splash-header h2 {
    margin: 0;
    font-family: "Alkhemikal", monospace;
    font-size: 32px;
}

.splash-header button {
    border: none;
    background-color: transparent;
    background-image: url("../images/close.png");
    image-rendering: pixelated;
    background-size: cover;
    font-size: 0;
    width: 20px;
    height: 20px;
}

.splash-contents p {
    font-family: "Alkhemikal", monospace;
    font-size: 18px;
} 




#splash-map img {
    image-rendering: pixelated;
    width: min(50vh, 70vw);
    min-width: 256px;
}

#splash-event .splash-inner {
    width: 512px;
}

#event-contents-image {
    image-rendering: pixelated;
    width: 512px;
}

#event-contents-choices {
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Press Start 2P", monospace;
    font-size: 12px;
}

#event-contents-choices button {
    margin-bottom: 2px;
    background-color: #C9AF98;
    border: 1px dashed #443C15;
    min-height: 24px;
}

#event-contents-choices button:hover {
    background-color: #e2cdbb;
}

#event-contents-choices button.disabled {
    background-color: #817b77;
    opacity: 0.4;
    cursor: not-allowed;
}

#journal-contents-title {
    display: flex;
    font-family: "Alkhemikal", monospace;
    border-style: dashed;
    border-color: black;
    padding: 0 10px;
    border-width: 0 2px;
}
#journal-contents-title h2 {
    margin: 0;
}
#journal-contents-title p {
    margin-top: 0;
}
#journal-contents-title img {
    margin-left: 15px;
    width: 64px;
    height: 64px;
    opacity: 0.9;
}



@keyframes introTitleAnimation {
    from {
        top: 12vh;
        left: 10vw;
        font-size: min(128px, 20vw);
        opacity: 0;
    }

    50% {
        top: 12vh;
        left: 10vw;
        font-size: min(128px, 20vw);
        opacity: 0.8;
    }
  
    to {
        top: 10px;
        left: 10px;
        font-size: 32px;
        opacity: 1;
    }
  }