.hidden {
	display: none !important;
}

html {
	height: 100vh;
	font-size: calc(16px + 6 * ((100vw - 300px) / (1600 - 300)));
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #0e0c08;
	margin: 0;
}

h1, h2, h3 {
    font-family: 'Crimson Pro', serif;
}

p {
    font-family: "Roboto Slab", Courier, serif;
}




#bar-upper {
    position: absolute;
    display: block;
    width: 100vw;
    top: -100px;
    background-color: black;
    z-index: 1;
    animation: bar-entry 5.5s forwards 0s 1;
}

#bar-lower {
    position: absolute;
    display: block;
    width: 100vw;
    bottom: 0;
    background-color: black;
    z-index: 1;
    animation: bar-entry 5.5s forwards 0s 1;
}




#moutain-hero-image {
    height: 100%;
    width: 100%;
    background-color: #595A54;
    background-image: url("../images/session3/bgTexture.png");
    background-repeat: repeat;
    position: absolute;
    top: 0;
    overflow: hidden;
}

#snow {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.bg-clouds {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 100%;
    animation: push-in 5s forwards 0s 1;
}

.bg-clouds img{
    max-width: 836px;
    width: 100%;
    min-width: 590px;
}

#bg-cloud-layer-1 {
    animation: cloud-scroll 25s linear -10s infinite;
    margin-top: 20vh;
}

#bg-cloud-layer-2 {
    animation: cloud-scroll 20s linear -90s infinite;
    margin-top: 30vh;
}

#bg-cloud-layer-3 {
    animation: cloud-scroll 18s linear -120s infinite;
    margin-top: 40vh;
}

#bg-cloud-layer-4 {
    animation: cloud-scroll 12s linear -40s infinite;
    margin-top: 50vh;
}

#mountain-stack {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.mountain-stack-image{
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 836px;
    min-width: 590px;
    object-fit: cover;
    object-position: center top;
    position: relative;
    grid-row-start: 1;
    grid-column-start: 1;
    max-height: 1080px;
    top: 100%;
}

#mountainLayer1 {
    animation: push-in 5s forwards 0.5s 1;
}

#mountainLayer2 {    
    animation: push-in 5s forwards 0.3s 1;
}

#mountainLayer3 {
    animation: push-in 5s forwards 0.1s 1;
}

#mountainLayer4 {
    animation: push-in 5s forwards 0s 1;
}

#mountain-clouds {
    width: 100%;
    position: absolute;
    height: 100%;
    overflow: hidden;
    top: 100%;
    animation: push-in 5s forwards 0s 1;
}

#mountain-clouds img{
    position: absolute;
    bottom: 0;
}

#clouds-left {
    right: calc((100% - 700px) / 2);
}

#clouds-right {
    left: calc((100% - 750px) / 2);
}



#main-title {
    position: absolute;
    font-size: 8em;
    margin-top: 45px;
    text-align: center;
    width: 100%;
    line-height: 0.65em;
    color: floralwhite;
    animation: push-in 5s forwards 0s 1;
    animation: title-fade 8s forwards 0s 1;
    word-spacing: 30000px; 
}



#menu {
    position: absolute;   
    list-style: none; 
    width: 19vw;
    padding: 0;
    margin-left: 1vw;
}

.menu-item {
    padding: 1em;
    margin: 0.1em;
    border-radius: 0.5em;
    background-color: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
} 

.menu-item:hover { 
    background-color: rgba(0,0,0,1);
}

#overlay-container {
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

.overlay {
    position: absolute;
    pointer-events: all;
    margin-left: 20vw;
    padding: 0 5vw;
    width: 60vw;
    background-color: rgba(0,0,0,0.9);
    height: 100vh;
    overflow: auto;
    color: #ccc;
    text-align: justify;
    line-height: 1.4em;
    font-size: 0.8em;
    left: 0;
    transition-property: left;
    transition-duration: 1s;
}

.overlay-hidden {
    left: 100vw;
}

.overlay-content {
    width: 100%;
    display: flex;
    gap: 0 1em;
    flex-direction: row-reverse;
}

.overlay-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overlay-image {
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    opacity: 0.8;
}



.character {
    display: flex;
    line-height: normal;
    width: 100%;
    gap: 1em;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: -5px 5px 10px rgb(255 255 255 / 20%);
    cursor: pointer;
}

.character:hover {
    background-color: rgba(20, 20, 20, 0.6);
    box-shadow: -5px 5px 10px rgb(255 165 0 / 50%);
}

.character-selected {
    background-color: rgba(10, 10, 10, 0.5);
    box-shadow: -5px 5px 10px rgb(255 165 0 / 30%);
}

.character-title {
    position: relative;
    display: block;
    flex-grow: 1;
}

.character-title img {
    width: 200px;
    height: 100%;
    object-fit: cover;
}

.character-title p {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 100%;
    font-size: 1.5em;
}

.character-info {
    flex-grow: 2;
}

table {    
    text-align: left;
    width: 100%;
    border-spacing: 5px;
    -webkit-border-horizontal-spacing: 0;
}

input {
    width: 3em;
}

.item-row {
    padding: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
}

.item-row:nth-child(odd) {
    background-color: rgba(30, 30, 30, 0.6);
}

.item-row:hover {
    box-shadow: -5px 5px 10px rgb(255 165 0 / 50%);
}

#supply-weight-label {
    color: orange;
    font-size: 2em;
}

#supply-cost-label {
    color: orange;
    font-size: 2em;
}


@keyframes cloud-scroll {
    0% { margin-left: -100%; opacity: 0;}
    50% {opacity: 0.8;}
    100% { margin-left: 100%; opacity: 0;}
}

@keyframes push-in {
    0% {top: 100%}
    100% {top: 0}
}

@keyframes bar-entry {
    0% {height: 50vh}
    100% {height: 0}
}

@keyframes title-fade {
    0% {opacity: 1;}
    100% {opacity: 0;}
}


/** mobile **/

@media only screen and (max-width: 1192px) {
    .overlay-content {
        flex-direction: column;
        gap: 0;
    }

    .overlay-image {
        width: 100%;
        max-height: 20vh;
    }
}

@media only screen and (max-width: 590px) {

    .mountain-stack-image{
        min-width: unset;
        height: auto;
    }

    #menu {
        bottom: 0;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        height: 10vh;
        margin: 0;
    }

    .menu-item {
        min-width: 10vw;
        padding-left: 0.5em;
    }

    .overlay {
        margin-left: 0;
        width: 90vw;
        height: 90vh;
        padding: 0 5vw;
    }   

    .character-title img {
        width: 100px;
    }

    .character-title h2 {
        font-size: 1.5em;
    }
    
    .character-title p {
        font-size: 1em;
    }

}