#main-title {
    position: absolute;
    font-size: 5em;
    margin-top: 80px;
    text-align: center;
    width: 100%;
    line-height: 0.65em;
    color: #899E29;
    animation: title-animation 10s forwards 0s 1;
    word-spacing: 30000px; 
}

#main-title span {
    font-size: 1.1em;
    color: #f0e353;
}

a {
    color: #f0e353;
}

a:visited {
    color: #ab8209;
}

b {
    color: #9fbb96;
}

h3 {
    font-size: 1.6em;
}

.overlay-hero-image {
    width: 100%;
}


#jungle-hero-image {
    height: 100%;
    width: 100%;
    background-color: #000000;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    overflow: hidden;
}

#fader {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    display: block;
    z-index: 1;
    animation: fader-fade 5.5s forwards 0s 1;
    pointer-events: none;
}

.jungle-stack-item {
    margin: auto;
    height: 100%;
    width: 100%;
    /* max-width: 836px; */
    /* min-width: 590px; */
    position: relative;
    grid-row-start: 1;
    grid-column-start: 1;
    max-height: 1080px;
    /* top: 100%; */
}

.jungle-stack-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.jungle-stack-mask {
    background-color: black;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.jungle-stack-edge-L {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 30px;
    background-image: url("../images/session7/gradient.png");
    background-repeat: repeat;
    transform: rotate(180deg);
}

.jungle-stack-edge-R {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    height: 100%;
    width: 30px;
    background-image: url("../images/session7/gradient.png");
    background-repeat: repeat;
}

#gradient-stack {
    position: absolute;
    width: 100%;
}

.gradient {
    position: absolute;
    top: 0;
    left: 11%;
    width: 60%;
    animation: gradient-spin 8s linear 0.0s infinite alternate;
}

#jungleC {
    animation: zoom-in 12s forwards 0.0s 1, blur-out 10s forwards 0.0s 1;
}

#jungleR2 {
    left: -10%;
    animation: right-out 13s forwards 0.0s 1, blur-out-semi2 6s forwards 0.0s 1;
}

#jungleR2 .jungle-stack-mask {
    left: 100%;
}

#jungleL2 {
    right: -10%;
    animation: left-out 13s forwards 0.0s 1, blur-out-semi2 6s forwards 0.0s 1;
}

#jungleL2 .jungle-stack-mask {
    right: 100%;
}

#jungleR1 {
    left: -10%;
    animation: right-out 17s forwards 1.5s 1, blur-out-semi 3s forwards 0.5s 1;
}

#jungleR1 .jungle-stack-mask {
    left: 100%;
}

#jungleL1 {
    right: -10%;
    animation: left-out 17s forwards 1.5s 1, blur-out-semi 3s forwards 0.5s 1;
}

#jungleL1 .jungle-stack-mask {
    right: 100%;
}

#jungleT {
    animation: top-out 10s forwards 0.0s 1, blur-out-semi2 3s forwards 0.5s 1;
}

#jungleT .jungle-stack-mask {
    top: -100%;
}




@media only screen and (max-width: 590px) {

    #jungleR1 .jungle-stack-mask {
        left: calc(100% + 30px);
    }

    #jungleL1 .jungle-stack-mask {
        right: calc(100% + 30px);
    }

    .jungle-stack-edge-L {
        left: -30px;
    }

    .jungle-stack-edge-R {
        right: -30px;
    }
}















@keyframes right-out {
    0% {left: -10%}
    100% {left: 0}
}

@keyframes left-out {
    0% {right: -10%}
    100% {right: 0}
}

@keyframes top-out {
    0% {top: 10%}
    100% {top: 0}
}


@keyframes fader-fade {
    0% {opacity: 1.0}
    100% {opacity: 0.0}
}


@keyframes blur-out {
    0% {filter: blur(4px)}
    100% {filter: blur(0)}
}

@keyframes blur-out-semi2 {
    0% {filter: blur(4px)}
    100% {filter: blur(1px)}
}

@keyframes blur-out-semi {
    0% {filter: blur(4px)}
    100% {filter: blur(2px)}
}

@keyframes zoom-in {
    0% {height: 112%}
    100% {height: 100%}
}

@keyframes title-animation {
    0% {
        top: -10vh;
        opacity: 0.0;
        filter: blur(4px);
        color: floralwhite;
    }
    100% {
        top: 3vh; 
        opacity: 1.0;
        filter: blur(0);
    }
}

@keyframes gradient-spin {
    0% { transform: rotate(0deg); opacity: 0.1}
    2% {opacity: 0.6}
    10% {opacity: 0.4}
    50% {opacity: 0.5}
    72% {opacity: 0.3}
    100% { transform: rotate(359deg); opacity: 0.2}
}













.character:hover {
    background-color: rgba(20, 20, 20, 0.6);
    box-shadow: -5px 5px 10px rgba(123, 255, 0, 0.5);
}