.hidden {
	display: none !important;
}

html {
	height: 100vh;
	/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
	font-size: calc(16px + 6 * ((100vw - 300px) / (1600 - 300)));
	/*font-size: 16px;*/
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #0e0c08;
	margin: 0;
}

h1, h2, h3 {
    font-family: 'Crimson Pro', serif;
}

h1 {
    font-family: 'Marck Script', cursive;
    font-size: 2em;
}

p {
    font-family: "Roboto Slab", Courier, serif;
}

#content {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}

section {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

#slides {
    cursor: pointer;
    max-width: 100%;
    height: 100vh;
}

#slides-info {
    position: absolute;
    z-index: 10;
    max-width: 40%;
    bottom: 0;
    padding: 1em 2em;
    background-color: rgba(242, 241, 241, 0.7);
    border: 1px double black;
}

#slides-info p {
    font-size: 0.8em;
    margin: 0;    
    padding: 0.1em;    
}

#slides-info h1 {
    font-size: 1.5em;
    margin: 0;
}

.slide-img-container {
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
}

.slide-img-container .slide-img {
    height: 100%;
    background-blend-mode: overlay;
    width: 100%;
    animation-name: slidesZoom;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    transition: opacity 5s ease-in-out;
}

.slide-img-container .slide-img.behind {
    opacity:0;
}

@keyframes slidesZoom {
    from {transform: scale(1);}
    to {transform: scale(1.2);}
}

.telegram {
    padding: 2em;
    margin: 2em;
    background-image: url("../images/dot_matrix_printer_paper_by_blueamnesiac_d49n74a/DotMatrixPaper2.png");
    background-repeat: repeat-y;
    background-size: 100%;
    max-width: 800px;
    z-index: 10;
}

.telegram:nth-child(even) {
    transform: translate(0vh, -5vh) rotate(2deg);
}

.telegram:nth-child(odd) {
    transform: translate(0vh, -5vh) rotate(-2deg);
}

.telegram-title {
    transform: rotate(-1deg);
}

#characterSheet {
    transform: rotate(2deg);
    max-width: 100%;
}

#characterSheet button {
    width: 100px;
    float: right;
}

#characterSheet td {
    padding: 0.5em;
}

.character-table-body td {
    position: relative;
}

.character-table-body h3 {
    top: 0;
    position: absolute;
    font-family: 'Marck Script', cursive;
    margin-top: 0;
    transform: translate(0px, 0vh) rotate(-7deg);
    font-size: 2em;
    color: yellow;
    -webkit-text-stroke: 1px orangered;
    pointer-events: none;
}

.character-table-body p {
    position: absolute;
    bottom: 0;
    font-size: 0.8em;
    background-image: url("../images/session5/stamp.svg");
    background-size: cover;
    color: white;
    padding: 10px;
    filter: invert(1) sepia(1) saturate(12) hue-rotate(-23deg);
    transform: translate(-10px, 0vh) rotate(25deg);
}

.character-info {
    display: flex;
}

.character-info img {
    width: 50%;
    object-fit: cover;
}

.character-info p {
    margin: 1em;
}

.info-table {
    transform: translate(0px, 0vh) rotate(5deg);
    padding: 2em;
    margin: 2em;
    background-image: url("../images/dot_matrix_printer_paper_by_blueamnesiac_d49n74a/DotMatrixPaper2.png");
    background-repeat: repeat-y;
    background-size: 100%;
    max-height: 100%;
}

.info-table:nth-of-type(even) {
    transform: translate(0px, 0vh) rotate(-5deg);
}

.info-table table img {
    width: 100%;
    cursor: pointer;
}

.info-table table img:hover {
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
}

.flip-perspective {
    perspective: 1000px;
}

.info-table table .flipper img {
    cursor: default;
}

.info-table table .flipper img:hover {
    -webkit-filter: none;
    filter: none;
}

.info-table table .flipper {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.info-table td:hover .flipper {
    transform: rotateY(180deg);
}

.flip-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-back {
    position: absolute;
    background-color: rgba(243, 243, 233, 0.9);
    color: black;
    transform: rotateY(180deg);
    top: 0;
    width: 100%;
    height: 100%;
}

.flip-back h3 {
    font-family: 'Marck Script', cursive;
    margin-top: 2em;
    transform: translate(0px, 0vh) rotate(-7deg);
}

.flip-back p {
    padding: 0 1em;
    font-size: 14px;
}

.hero-image {
    transform: rotate(5deg);
    width: 70vw;
    min-width: 800px;
    display: block;
    margin: auto;
}

/* game 6 */
#citydesc img {
    max-width: 100px;
    float: right;
    clear: both;
}

#city-toggle {
    display: flex;
    background-color: black;
    width: fit-content;
}

#city-toggle button {
    cursor: pointer;
    background-size: cover;
    width: 8em;
    height: 6em;
    max-width: 200px;
    max-height: 150px;
    color: white;
    display: flex;
    opacity: 0.5;
}

#city-toggle button.active {
    opacity: 1;
}

#city-toggle button span {
    align-self: flex-end;
    width: 100%;
    pointer-events: none;
}

#city-new-lange {
    background-image: url("../wiki/images/new-lange-flag.png");
}

#city-vulcania {
    background-image: url("../wiki/images/vulcania-flag.png");
}