video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title {
    position: absolute;
    left: 0.5em;
    color: white;
    pointer-events: none;
    font-family: 'Cherry Swash', serif;
    font-weight: 400;
    -webkit-text-stroke: 1px rgba(71, 101, 107, 0.5);
}

#menu {
    margin-top: 5em;
}

.menu-item {
    background-color: rgba(109, 162, 172, 0.5);
}

li {
    font-family: 'Goudy Bookletter 1911', serif;
}

.overlay {
    top: 0;
    color: white;
    margin: 0 0 0 0vw;
    padding: 5em 15vw 20px 25vw;
    height: calc(100vh - 5em - 20px);
    width: 70vw;
    background-color: rgba(0, 0, 0, 0.0);
    pointer-events: none;
}

.overlay > * {
    pointer-events: all;
}

.overlay-content {
    padding: 1em;
    background-color: rgba(8, 40, 56, 0.8);
    border: solid 2px whitesmoke;
    width: auto;
    flex-direction: row;
}

.overlay-header, #equipment-list, #rules-list, .character-outer {
    padding: 1em;
    border: solid 2px whitesmoke;
    background-color: rgba(8, 40, 56, 0.8);
}

.character {
    box-shadow: none;
    background: none;
    cursor: auto;
}

.character:hover {
    box-shadow: none;
    background: none;
}

.character-outer {
    margin-top: 5px;
}

.character-details {
    display: flex;
    flex-direction: row;
}

.character-details > div {
    margin: 10px;
    text-align: left;
}

.character-details-stats {
    white-space: nowrap;
    font-size: larger;
}

#icebox {
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: opacity 5s;
    background: rgb(250,250,250);
    background: radial-gradient(circle, rgba(250,250,250,0) 1%, rgba(255,255,255,1) 90%);
}

#icebox.ice-hidden {
    opacity: 0;
}

.ice {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    /* transition-property: top, left, transform;
    transition-duration: 2s;
    transition-timing-function: steps(8, jump-none); */
    transition: 
        top 20s steps(16, jump-none),
        left 16s steps(8, jump-none),
        transform 10s steps(4, jump-none);
}

#ice-top.ice-hidden {
    transform: rotate(10deg);
    top: -100vh;
    left: 30vw;
}

#ice-bottom.ice-hidden {
    transform: rotate(10deg);
    top: 100vh;
    left: -30vw;
}


.character-title p {
    text-align: left;
}


.item-row {
    padding: 2px;
    cursor: auto;
}

.item-row:hover {
    box-shadow: none;
}

.item-row p {
    margin: 0;
}

.item-row-desc {
    font-size: 0.75em;
    font-weight: lighter;
}



@media only screen and (max-width: 590px) {

    .overlay {
        margin-left: 0;
        width: 85vw;
        height: 90vh;
        padding: 0 5vw;
    }

    .character-title img {
        width: 100%;
    }

    .character {
        flex-direction: column;
    }

    .character-details {
        flex-direction: column;
    }

}