section {
    margin: 0;
    max-width: unset;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

a:hover, a:hover span {
	color: #e78a4b;
}

h1, h2, h3 {
    font-family: 'Crimson Pro', serif;
}


#title-grain {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: contrast(3) opacity(1);
    top: 0;
    z-index: -1;
}

.title-container {    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slide-img-container .slide-img {
    animation-name: none;
}

.title-container * {
    margin: 0;
    color: white;
}

#title-contents {
    max-width: 500px;
    min-width: 200px;
    padding: 10px;
    animation-name: filmMotion;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#title-contents h1 {
    text-transform: uppercase;
    text-align: center;
}

#title-contents h1::before {
    content: "⤛ ";
}

#title-contents h1::after {
    content: " ⤜";
}

.title-menubox-container {
    display: flex;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
    gap: 10px;
    flex-flow: row wrap;
}

.title-menubox {
    width: 200px;
}

.title-menubox p {
    margin-top: 0.5em;
}

.subtitle {
    font-style: italic;
    font-size: 0.8em;
}

@keyframes filmMotion {
    0% {transform: translateY(1px);}
    1% {transform: translateY(2px);}
    2% {transform: translateY(1px);}
    3% {transform: translateY(0px);}
    4% {transform: translateY(1px);}
    5% {transform: translateY(2px);}
    6% {transform: translateY(1px);}
    7% {transform: translateY(0px);}
    8% {transform: translateY(1px);}
    9% {transform: translateY(2px);}
    10% {transform: translateY(1px);}
    11% {transform: translateY(0px);}
    12% {transform: translateY(1px);}
    13% {transform: translateY(2px);}
    14% {transform: translateY(1px);}
    15% {transform: translateY(0px);}
    16% {transform: translateY(1px);}
    17% {transform: translateY(2px);}
    18% {transform: translateY(1px);}
    19% {transform: translateY(0px);}
    20% {transform: translateY(1px);}
    21% {transform: translateY(2px);}
    22% {transform: translateY(1px);}
    23% {transform: translateY(0px);}
    24% {transform: translateY(1px);}
    25% {transform: translateY(2px);}
    26% {transform: translateY(1px);}
    27% {transform: translateY(0px);}
    28% {transform: translateY(1px);}
    29% {transform: translateY(2px);}
    30% {transform: translateY(1px);}
    31% {transform: translateY(0px);}
    32% {transform: translateY(1px);}
    33% {transform: translateY(2px);}
    34% {transform: translateY(1px);}
    35% {transform: translateY(0px);}
    36% {transform: translateY(1px);}
    37% {transform: translateY(2px);}
    38% {transform: translateY(1px);}
    39% {transform: translateY(0px);}
    40% {transform: translateY(1px);}
    41% {transform: translateY(2px);}
    42% {transform: translateY(1px);}
    43% {transform: translateY(0px);}
    44% {transform: translateY(1px);}
    45% {transform: translateY(2px);}
    46% {transform: translateY(1px);}
    47% {transform: translateY(0px);}
    48% {transform: translateY(1px);}
    49% {transform: translateY(2px);}
    50% {transform: translateY(1px);}
    51% {transform: translateY(0px);}
    52% {transform: translateY(1px);}
    53% {transform: translateY(2px);}
    54% {transform: translateY(1px);}
    55% {transform: translateY(0px);}
    56% {transform: translateY(1px);}
    57% {transform: translateY(2px);}
    58% {transform: translateY(1px);}
    59% {transform: translateY(0px);}
    60% {transform: translateY(1px);}
    61% {transform: translateY(2px);}
    62% {transform: translateY(1px);}
    63% {transform: translateY(0px);}
    64% {transform: translateY(1px);}
    65% {transform: translateY(2px);}
    66% {transform: translateY(1px);}
    67% {transform: translateY(0px);}
    68% {transform: translateY(1px);}
    69% {transform: translateY(2px);}
    70% {transform: translateY(1px);}
    71% {transform: translateY(0px);}
    72% {transform: translateY(1px);}
    73% {transform: translateY(2px);}
    74% {transform: translateY(1px);}
    75% {transform: translateY(0px);}
    76% {transform: translateY(1px);}
    77% {transform: translateY(2px);}
    78% {transform: translateY(1px);}
    79% {transform: translateY(0px);}
    80% {transform: translateY(1px);}
    81% {transform: translateY(2px);}
    82% {transform: translateY(1px);}
    83% {transform: translateY(0px);}
    84% {transform: translateY(1px);}
    85% {transform: translateY(2px);}
    86% {transform: translateY(1px);}
    87% {transform: translateY(0px);}
    88% {transform: translateY(1px);}
    89% {transform: translateY(2px);}
    90% {transform: translateY(1px);}
    91% {transform: translateY(0px);}
    92% {transform: translateY(1px);}
    93% {transform: translateY(2px);}
    94% {transform: translateY(1px);}
    95% {transform: translateY(0px);}
    96% {transform: translateY(1px);}
    97% {transform: translateY(2px);}
    98% {transform: translateY(1px);}
    99% {transform: translateY(0px);}
    100% {transform: translateY(1px);}
}