html {
	height: 100%;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	font-family: "Roboto Slab", Courier, serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: black;
}

body {
	height: 100%;
    margin: 0;
}

#3dCanvas {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

canvas {
    display: block;
}

#overlay {
	width: 800px;
	height: 98%;
	position: absolute;
	top: 1%;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#overlay img { 
	width: 100%;
	margin-bottom: 5%;
}

#micronodeAvatarImage {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 40%
}

/*
#micronodeAvatarImage:hover {
	opacity: 0.1;
}
*/

#mainContent {
	width: 100%;
}

.players {
	display: inline-block;
	width: 50%;
	border: 0;
	margin: 0;
}

.content {
	width: 48%;
	display: block;
	position: relative;
	float: right;
	background-color: black;
}

a {
	margin-top: 1%;
	color: #DD985F;
}

#facebookLink:hover {
	color: #4267B2;
}

#twitterLink:hover {
	color: #1DA1F2;
}

#bandcampLink:hover {
	color: #619AA9;
}

#spotifyLink:hover {
	color: #1FD662;
}

#emailLink:hover {
	color: #D54B3D;
}

#soundcloudlink:hover {
	color: #FF6700;
}

.whiteLine {
	background-color: white;
	display: block;
	height: 0.4%;
	width: 100%;
	margin-bottom: 0.8%;
	margin-top: 0.8%;
}
