@media only screen and (max-width: 1192px) {
    .audio-player {
		flex-basis: 100px;
        padding: 5px;
        height: 300px;
        width: 300px;
    }
}

@media only screen and (max-width: 800px) {
    .audio-player {
		flex-basis: 50px;
        padding: 2px;
        height: 150px;
        width: 150px;
    }

    #content-art {
        display: block;
    }

    .project-image {
        border-color: white;
        border-style: solid;
        border-width: 2px;
        width: 100%;
        height: auto;
        float: none;
        margin: 0;
    }
}