:root {
    --animation-time: 1s; 
}

.smoke-button {
    position: relative;
}

.smoke {
    animation-duration: var(--animation-time);
    animation-timing-function: linear;
    position: absolute;
    height: 0px;
    z-index: 0;
}
.smoke.right1 {
    animation-name: smokeRight1;
}

.smoke.right2 {
    animation-name: smokeRight2;
}

.smoke.right3 {
    animation-name: smokeRight3;
}

.smoke.left1 {
    animation-name: smokeLeft1;
}

.smoke.left2 {
    animation-name: smokeLeft2;
}

.smoke.left3 {
    animation-name: smokeLeft3;
}

@keyframes smokeRight1 {
    0%   {transform: rotate(0deg); bottom: -100%; left: 80%; opacity: 1; height: 48px;}
    5% 	 {bottom: -99%; left: 100%;}
    10%  {transform: rotate(100deg); bottom: 0%; left: calc(100% + 15px); }
    20%  {transform: rotate(150deg); }
    40%  {transform: rotate(190deg); }
    60%  {transform: rotate(220deg); }
    100% {transform: rotate(250deg); bottom: 48px; left: calc(100% + 30px);  opacity: 0; height: 128px;}
}

@keyframes smokeRight2 {
    0%   {transform: rotate(100deg); bottom: -100%; left: 80%; opacity: 1; height: 50px;}
    5% 	 {bottom: -110%; left: 100%;}
    10%  {transform: rotate(0deg); bottom: 0%; left: calc(100% + 5px); }
    20%  {transform: rotate(-50deg); }
    40%  {transform: rotate(-100deg); }
    60%  {transform: rotate(-150deg); }
    100% {transform: rotate(-200deg); bottom: 32px; left: calc(100% + 10px);  opacity: 0; height: 140px;}
}

@keyframes smokeRight3 {
    0%   {transform: rotate(-10deg); bottom: -100%; left: 80%; opacity: 1; height: 44px;}
    5% 	 {bottom: -100%; left: 100%;}
    10%  {transform: rotate(90deg); bottom: 0%; left: calc(100%); }
    20%  {transform: rotate(130deg); }
    40%  {transform: rotate(180deg); }
    60%  {transform: rotate(210deg); }
    100% {transform: rotate(220deg); bottom: 16px; left: calc(100% + 5px);  opacity: 0; height: 120px;}
}



@keyframes smokeLeft1 {
    0%   {transform: rotate(0deg); bottom: -100%; right: 80%; opacity: 1; height: 48px;}
    5% 	 {bottom: -99%; right: 100%;}
    10%  {transform: rotate(100deg); bottom: 0%; right: calc(100% + 15px); }
    20%  {transform: rotate(150deg); }
    40%  {transform: rotate(190deg); }
    60%  {transform: rotate(220deg); }
    100% {transform: rotate(250deg); bottom: 48px; right: calc(100% + 30px);  opacity: 0; height: 128px;}
}

@keyframes smokeLeft2 {
    0%   {transform: rotate(100deg); bottom: -100%; right: 80%; opacity: 1; height: 50px;}
    5% 	 {bottom: -110%; right: 100%;}
    10%  {transform: rotate(0deg); bottom: 0%; right: calc(100% + 5px); }
    20%  {transform: rotate(-50deg); }
    40%  {transform: rotate(-100deg); }
    60%  {transform: rotate(-150deg); }
    100% {transform: rotate(-200deg); bottom: 32px; right: calc(100% + 10px);  opacity: 0; height: 140px;}
}

@keyframes smokeLeft3 {
    0%   {transform: rotate(-10deg); bottom: -100%; right: 80%; opacity: 1; height: 44px;}
    5% 	 {bottom: -100%; right: 100%;}
    10%  {transform: rotate(90deg); bottom: 0%; right: 100%; }
    20%  {transform: rotate(130deg); }
    40%  {transform: rotate(180deg); }
    60%  {transform: rotate(210deg); }
    100% {transform: rotate(220deg); bottom: 16px; right: calc(100% + 5px);  opacity: 0; height: 120px;}
}