html.javascript-enabled *.js-hidden { 
	display: none !important;
}

html {
	height: 100%;
	/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
	font-size: calc(16px + 6 * ((100vw - 300px) / (1600 - 300)));
	/*font-size: 16px;*/
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #191919;
	margin: 0;
	background-image: url("../images/background/rust.png");
  	background-repeat: repeat;
}

#mainNav {
	display: flex;
	padding: 0;	
	justify-content: space-evenly;
	flex-flow: row wrap;
	list-style-type: none;
}

.button {
	background-color: #3C4042;
	z-index: 10;
	width: 20vw;
	min-width: 100px;
	min-height: 1em;
	box-shadow: 0 5px #584a40;
	border-width: 2px;
	border-style: outset;
}

button {
	color: #ffffff;
}

.button:active {
	background-color: rgb(37, 40, 41);
	box-shadow: 0 1px #29221e;
	transform: translateY(4px);
}

.button.active {
	background-color: #727677;
}

.button a {
	font-family: "Roboto Slab", Courier, serif;
	display: block;
	text-decoration: none;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: hidden;
}

.button a:hover {
	text-decoration: none;
	background-color: #e78a4b;
	color: #ffffff;
}

.disabled {
	background-color: #1D1E1E;	
}

.disabled a {
	color: #828282;
}

.disabled a:hover {
	background-color: #1D1E1E;
}

#mainHeader {
	display: flex;
	min-height: 10vh;
}

#headerImageContainer {
	max-width: 20vh;
	position: relative;
	width: 100%
}
	
header h1 {
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-style: oblique;
	font-size: 5vh;
	color: white;
	text-align: center;
	letter-spacing: 8px;
}

#mainContent {
	width: 80%;
	height: 100%;
	padding: 5%;
	margin: auto;
	top: 0;
	background-color: #0e181d;
}

#mainContent h1 {
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-style: oblique;
	font-size: 200%;
	color: white;
	text-align: left;
	letter-spacing: 8px;
}

#mainContent h3 {
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	color: white;
	font-size: 120%;
}

p {
	font-family: 'Raleway', Arial, sans-serif;
	color: #CCCCCC;
	letter-spacing: 1px;
}

li {
	font-family: 'Raleway', Arial, sans-serif;
	color: #CCCCCC;
	letter-spacing: 1px;
}

a {
	color: white;
}

a:hover {
	color: #e78a4b;
}

.article {
	font-size: 80%;
	text-align: left;
	min-width: 10em;
}

#mainImage {
	z-index: 5;
}

#logoWaterfall {
    padding: 0;
	margin: 0;
}

#logoWaterfall > * {
	position: absolute;
}

#logoWaterfall img {
	height: 100%;
	width: auto;
	top: 0px;
}

#logoWaterfall li {
	height: 100%;
	display: block;
}

#logoWaterfall li:nth-child(2) {
	opacity: 0.7;
    filter: alpha(opacity=70);	
	z-index: 4;
	top: 5px;
}

#logoWaterfall li:nth-child(3) {
	opacity: 0.4;
    filter: alpha(opacity=40);
	z-index: 3;
	top: 10px;
}

#logoWaterfall li:nth-child(4) {
	opacity: 0.1;
    filter: alpha(opacity=10);
	z-index: 2;
	top: 15px;
}

.audio-players {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.audio-player {
	flex-basis: 200px;
	padding: 10px;
	height: 350px;
	width: 350px;
}

#aboutMeImage {
	width: 40%;
	border-color: white;
	border-style: solid;
	border-radius: 50%;
	float: right;
	margin: 1% 1% 1% 1%
}

#content-art {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#content-art .article {
	flex-grow: 1;
	flex-basis: 300px;
}

#artbox {
	margin: 0 1em;
	flex-grow: 2;
	min-width: 200px
}

#artbox-image {
	width: 100%;
    height: auto;
    max-width: 800px;
}

#artbox-title {
	margin: 0;
}

#artbox-text p {
	font-size: 70%;
	padding: 0 1em;
}

#artbox-navigation {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	height: 1em;
	margin: 1vh 0;
	align-items: center;
}

.project {
	padding: 1em;
}

.project:nth-of-type(odd) {
	background-color: #17262e;
}

.project-image {
	height: 200px;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	float: right;
	margin: 0em 1em 1em 1em;
}

footer {
	z-index: 100;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

#glowLine {
	display: block;
	height: 5px;
	width: 100%;
	background: #e78a4b;
	background: -webkit-radial-gradient(circle, #e78a4b, #990000);
	background: -o-radial-gradient(circle, #e78a4b, #990000);
	background: -moz-radial-gradient(circle, #e78a4b, #990000);
	background: radial-gradient(circle, #e78a4b, #990000);
	opacity: 0.7;
}

@-webkit-keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(359deg);}
}