@font-face {
    font-family: 'AlteHaasGroteskBold';
    src: url('./fonts/AlteHaasGroteskBold.ttf');
}

@font-face {
    font-family: 'AlteHaasGroteskRegular';
    src: url('./fonts/AlteHaasGroteskRegular.ttf');
}

@font-face {
    font-family: 'Neon';
    src: url('./fonts/Neon.ttf');
}

html {
    background-color: #09120F;
}

body {
    font-family: 'AlteHaasGroteskRegular', 'Century Gothic', sans-serif;
    color: #491920;
}

#overlay {
    background-image: url("./images/blur.png");
    background-repeat: repeat;
    background-size: 16px;
    mix-blend-mode: plus-lighter;
}


h3, h2, h1 {
    text-transform: lowercase;
    font-weight: bolder;
    font-family: 'Neon', 'AlteHaasGroteskRegular', 'Century Gothic', sans-serif;
}

button {
    background-color: #fad530;
    padding: 3px 10px;
}

button:hover {
    background-color: #ffe3a7;
}

header {
    /* color: #44C3CA; */
    color: #a39752
}

#title {
    display: flex;
    flex-direction: column;
    column-gap: 15px;
}

#title > * {
    margin: 0;
    font-size: 3em;
    padding: 0;
}

#title h1 {
    font-size: 4em;
    color: #f1df78;
}

#title .subtitle {
    font-style: italic;
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 1rem;
    color: #EE9743;
}

.subsection {
    background-color: #E2D7C6;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    border: 5px outset #F4E9D7;
}

img, #planetbox {
    border-radius: 10px;
    border: 3px double #B63B37;
}

.left-pane {
    z-index: 1;
}

.right-pane {
    z-index: 1;
    /* background-color: #B63B37; */
    background-image: url("./images/head-edit.svg");
    background-repeat: no-repeat;
    background-position: center left;
}

.center-pane {
    background-color: transparent;
    position: relative;
    padding: 0;
}

.center-pane h2 {
    font-size: 2.5em;
    margin-bottom: 3px;
}

.center-pane h3 {
    background-image: linear-gradient(0deg,
                                        #702530 0% 16%, transparent 16% 21%,
                                        #B63B37 21% 37%, transparent 37% 42%,
                                        #E0563E 42% 58%, transparent 58% 63%,
                                        #EE9743 63% 79%, transparent 79% 84%,
                                        #E7BD62 84%);
    margin: 0;
    background-repeat: no-repeat, no-repeat;
    background-size: calc(100% - 0px) 50px;
    width: calc(100% - 15px);
    height: 50px;
    line-height: 50px;
    display: flex;
    padding-left: 20px;
}

.center-pane h3::after {
    background-image:   radial-gradient(circle farthest-side at bottom left,
                                        #702530 0% 16%, transparent 16% 21%,
                                        #B63B37 21% 37%, transparent 37% 42%,
                                        #E0563E 42% 58%, transparent 58% 63%,
                                        #EE9743 63% 79%, transparent 79% 84%,
                                        #E7BD62 84% 100%, transparent 100%),
                        linear-gradient(90deg,
                                            #702530 0% 16%, transparent 16% 21%,
                                            #B63B37 21% 37%, transparent 37% 42%,
                                            #E0563E 42% 58%, transparent 58% 63%,
                                            #EE9743 63% 79%, transparent 79% 84%,
                                            #E7BD62 84%);
    background-repeat: no-repeat, no-repeat;
    background-size: 50px 50px, 50px calc(100% - 50px);
    background-position:
        top,
        bottom;

    content: '';
    display: block;
    position: absolute;
    left: calc(100% + 5px);
    height: 100px;
    width: 50px;
}

/* .center-pane h3::before {
    background-image: linear-gradient(0, rgb(0,0,255) 50%, rgb(255,0,0) 0%);
    content: '';
    display: block;
    position: absolute;
    left: calc(0px - 100%);
    height: 50px;
    width: 100%;
} */




table {
    border: 1px solid #702530;
    border-spacing: 0;
    border-radius: 10px;
    border-collapse: separate;
    overflow: hidden;
    margin-right: 5px;
}

th, td {
    border: 0px solid #702530;
}
tr.active {
    background-color: #80d5da;
}


.selected-row {
    background-color: #d9cab3;
    outline: none;
    border-radius: 10px;
    border: 5px outset #f1e0c6;
}

.selected-row button {
    height: max-content;
    background-color: #EF4B03;
    color: white;
}

.collar {
    border-radius: 10px;
}

textarea {
    padding: 10px;
    background-color: #f9fcfb;
    border-radius: 10px;
    border: 3px inset #f3f2f0;
}

.dicebox {
    background-color: transparent;
}

.p-subtotal {
    background-color: #eaf1ed;
    border-radius: 10px;
    border: 3px inset #f3f2f0;
}

.dices, .p-subtotal span {
    font-family: 'Neon', 'AlteHaasGroteskRegular', 'Century Gothic', sans-serif;
}

.dice3d__face {
    background-color: #5cf3ea;
    background: radial-gradient(#bffffa, #5cf3ea);
    font-size: 40px;
    color: white;
    text-shadow: 0 1px 1px #000,
    0 -1px 1px #000,
    1px 0 1px #000,
    -1px 0 1px #000;
}

@media only screen and (max-width: 600px) {

    .center-pane h3::after {
        background-size: 50px 50px, 50px calc(100% - 50px);
    }

}