@font-face {
    font-family: 'casio-fx-702p';
    src: url('./fonts/casio-fx-702p.ttf');
}

html {
    background-color: #070506;

    font-family: monospace;
    color: #FFEB51;
    text-shadow: 0 0.15em 0.2em #809b08,
              0 -0.15em 0.2em #9B0908,
              0.15em 0 0.2em #12089b,
              -0.15em 0 0.2em #9B0908;
}

body {
    font-family: "Lucida Console", Courier, monospace;
}

#overlay {
    background-image: url("./images/blur.png");
    background-size: 16px;
    background-repeat: repeat;
    mix-blend-mode: difference;
}

h3, h2, h1 {
    color: #6be6eb;
    text-shadow: 0 0.05em 0.1em #9b8508,
              0 -0.05em 0.1em #51AFB8,
              0.05em 0 0.1em #12089b,
              -0.05em 0 0.1em #51AFB8;
    border: 2px solid #70ACB2;
    width: fit-content;
    padding: 3px 8px;
    border-radius: 5px;
}

h3:empty, h2:empty, h1:empty { 
    border: none;
}

li {
    margin-top: 15px;
}

td, .collar p, .dices, .p-subtotal span {
    font-family: "casio-fx-702p", "Lucida Console", Courier, monospace;
    color: #db7101;
    font-size: 0.75em;
}

#title {
    display: flex;
    flex-direction: column;
    /* align-items: end; */
    column-gap: 15px;
}

#title > * {
    margin: 0;
    color: #FFEB51;
    border: none;
    text-transform: uppercase;
    font-size: 3em;
    padding: 0;
}

#title h1 {
    text-shadow: 0 0.05em 0.2em #999b08,
    0 -0.05em 0.2em #9B0908,
    0.05em 0 0.2em #12089b,
    -0.05em 0 0.2em #9B0908;
    border-bottom: 1px dashed #9B0908;
    margin-bottom: 2px;
    font-weight: bold;
}

#title .subtitle {
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 1rem;
}

.subsection {
    /* border-top: 2px solid #F0BC11; */
    border-left: 0;
    border-right: 0;
    /* box-shadow: 0 -10px 10px -6px #9B0908; */
}

.center-pane {
    background-color: transparent;
    /* box-shadow: 0 0 10px 2px #9B0908, 
                0 0 10px 2px #9B0908 inset; */
}

.left-pane img {
    border-radius: 15px;
    background-color: #0f0d0e;
    /* border: 1px solid #F0BC11 */
}

table {
    margin: 25px 0;
    border: 1px solid #F0BC11;
    color: #F0BC11;
    text-shadow: 0 0.1em 0.1em #089b21,
              0 -0.1em 0.1em #9B0908,
              0.1em 0 0.1em #12089b,
              -0.1em 0 0.1em #9B0908;
    border-spacing: 0 2px;
    line-height: 1.5em;
}

th, td {
    border: 0px solid #F0BC11;
}

td {
    color: #db7101;
}

td:first-of-type {
    color: #F0BC11;
}

tr.active {
    background-color: #F0BC11;
    box-shadow: 0 0 10px 5px #9B0908;
    color: black;
    text-shadow: none;
}

tr.active td, tr.active th {
    color: black;
}

.selected-row {
    background-color: #F0BC11;
    box-shadow: 0 0 20px 5px #9B0908;
    outline: none;
    color: black;
    text-shadow: none;
    font-weight: bold;
}

.selected-row button {
    height: max-content;
    background-color: #9B0908;
    color: white;
}

.warning {
    background-color: #9B0908;
    color: white;
    text-shadow: none;
    font-style: italic;
}

.collar {
    background-color: transparent;
}

.collar.active {
    background-color: transparent;
}

.dicebox {
    /* border: 1px solid #E9542B; */
    background-color: #9b08083d;
    border-radius: 10px;
}

button {
    background-color: #fad530;
    box-shadow: 0 0 10px 3px #9B0908;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #ffe3a7;
    box-shadow: 0 0 10px 5px #9b3e08;
}

textarea {
    background-color: transparent;
    padding: 10px;
    border: 1px solid #F0BC11;
    color: #F0BC11;
    text-shadow: 0 0.1em 0.1em #089b21,
              0 -0.1em 0.1em #9B0908,
              0.1em 0 0.1em #12089b,
              -0.1em 0 0.1em #9B0908;
}

.dice3d__face {
    background-color: #b3ced8;
    text-shadow: none;
    background: radial-gradient(#f9fcfd 20%, #b3ced8 70%, #2482ad);
}

.p-subtotal {
    background-color: #9b08083d;
    border-radius: 10px;
}

#planet-info h2{
    padding: 3px 8px;
    left: -3px;
    margin-bottom: 1px;
    position: relative;
}

.learn-more {
    color: white;
}

#learn-more-box {
    background-color: #0f0d0e;
    border: 2px solid #70ACB2;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px #5f81a7;    
}

#learn-more-text {
    /* font-family: "casio-fx-702p", "Lucida Console", Courier, monospace; */
    color: #ffb260;
    font-size: 0.75em;
    line-height: 1.3em;
}