html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: darkgrey;
}

body {
    margin: 0;
    padding-bottom: 50px;
    font-family: sans-serif;
}

.hidden {
    display: none !important;
}

header {
    margin: 25px auto;
    padding: 0 10px;
    max-width: 600px;
}

#overlay {
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

#style-swap {
    pointer-events: initial;
    /* position: fixed;  */
    position: absolute;
    top: 0;
    margin: 20px;
    right:10px;
    z-index: 99;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-align: left;
    width: 100%;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

/* hide radio buttons to get more space */
td.td-radio {
    display: none;
}
td.td-button {
    display: none;
}

tr {
    transition: background-color 0.5s ease;
}

@keyframes highlight {
    from {
      background-color: yellow;
    }
}

tr.active {
    background-color: palegoldenrod;
    animation: highlight 1s;
}

h2 {
    margin-top: 0;
}


section {    
    margin: 25px auto;
    padding: 0 10px;
    max-width: 1200px;
}

.subsection {
    display: grid;
    grid-template-columns: minmax(0, 0.9fr) minmax(600px, 1fr) minmax(0, 0.5fr);
    column-gap: 10px;
    row-gap: 15px;
    justify-content: center;
    margin: 5px 0;
    max-width: 100vw;
}

.left-pane img {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
    min-height: 100px;
    object-fit: cover;
    background-color: dimgray;
}

.center-pane {
    padding: 25px;
    background-color: white;
}

.right-pane {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.left-pane {
    justify-self: right;
}

.right-pane.top {
    justify-content: flex-start;
}

.imagebox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3px;
}

.warning {
    background-color: darkred;
    color: white;
    padding: 5px;
}

#collars {
    display: flex;
    gap: 5px;
    text-align: center;
}

.collar {
    background-color: rgb(245, 240, 231);
    border: 1px solid black;
    padding: 5px;
    z-index: 0;
}

.collar.active {
    background-color: rgb(240, 225, 199);
}

.clickable {
    cursor: pointer;
}

button {
    cursor: pointer;
}


.selected-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: palegoldenrod;
    padding: 0 10px;
    margin: 10px 0;
    outline: 1px solid black;
}

.selected-row button {
    width: 30px;
    height: 30px
}


#summary {
    width: 100%;
    max-width: 100%;
    min-height: 12rem;
    margin-top: 15px;
    field-sizing: content;
}


.p-subtotal {
    padding: 10px;
    margin: 5px;
    background-color: white;
}


.learn-more {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#learn-more-box {
    position: fixed;
    bottom: 5px;
    right: 5px;
    max-width: calc(100vw - 50px);
    width: 500px;
    min-height: 200px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 5px black;
    z-index: 100;
}

#learn-more-header {
    display: flex;
    justify-content: space-between;
}

#learn-more-title {
    margin: 0;
}

#learn-more-text {
    max-height: 300px;
    overflow-y: scroll;
    padding-right: 15px;
    font-size: 0.9em;
}


.dicebox {
    text-align: center;
    padding: 10px;
    margin: 5px;
    background-color: white;
}

.dices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
}

.dices p {
    margin: 0;
    width: 100%;
}

.dice-canvas {
    margin: 2px;
    background-color: grey;
}


/* https://3dtransforms.desandro.com/cube */
.dice3dscene {
    margin: 10px 10px;
    height: 50px;
    width: 50px;
    perspective: 400px;
    pointer-events: none;
}
  
.dice3d {
    width: 50px;
    height: 50px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform 1s;
}

.dice3d__face {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    line-height: 50px;
    /* font-size: 40px; */
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1.0);
    color: black;
    text-align: center;
}

.dice3d__face--1 { transform: rotateY(  0deg) translateZ(25px); }
.dice3d__face--4 { transform: rotateY( 90deg) translateZ(25px); }
.dice3d__face--6 { transform: rotateY(180deg) translateZ(25px); }
.dice3d__face--3 { transform: rotateY(-90deg) translateZ(25px); }
.dice3d__face--2 { transform: rotateX( 90deg) translateZ(25px); }
.dice3d__face--5 { transform: rotateX(-90deg) translateZ(25px); }

.dice3d.show-1  { transform: translateZ(-25px) rotateY(   0deg); }
.dice3d.show-4  { transform: translateZ(-25px) rotateY( -90deg); }
.dice3d.show-6  { transform: translateZ(-25px) rotateY(-180deg); }
.dice3d.show-3  { transform: translateZ(-25px) rotateY(  90deg); }
.dice3d.show-2  { transform: translateZ(-25px) rotateX( -90deg); }
.dice3d.show-5  { transform: translateZ(-25px) rotateX(  90deg); }





#planetbox {
    width: 100%;
    height: 100%;
    max-height: 400px;
    min-height: 100px;
    background: rgba(10,10,10,1);
    background-image: url("./images/stars.png");
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#planet {
    margin: auto;
    transform: rotate(340deg);
}

#planet-info {
    padding: 50px 50px 50px 0;
    min-width: 100px;
    font-size: 0.8em;
}





@media only screen and (max-width: 1000px) {

    section {
        padding: 0 20px;
    }

    .subsection {
        display: grid;
        grid-template-columns: minmax(450px, 1fr) minmax(0, 200px);
        column-gap: 5px;
        row-gap: 15px;
        justify-content: center;
        margin: 10px 0;
    }

    .left-pane {
        grid-column-start: 1;
    }

    .center-pane {
        padding: 25px 10px;
        grid-column-start: 1;
    }
    
}

@media only screen and (max-width: 600px) {

    .subsection {
        display: flex;
        flex-direction: column;
        column-gap: 10px;
        row-gap: 15px;
        justify-content: center;
        margin: 5px 0;
    }

    #collars {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }

}